@charset "UTF-8";

.mycontainer {
	display: flex;
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
	justify-content: center;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 60%;
}

table, th, td {
	border: 1px solid black;
}

button {
	width: 100%;
}

tr {
	padding: 3px;
}

tr.hide {
	display: none;
}

tr>th {
	text-align: right;
	padding-right: 10px;
	min-width: 100px;
}

tr>td {
	padding: 3px;
	min-width: 200px;
	margin: 30px
}

input {
	width: 95%;
	padding: 3px;
	margin: 3px;
}


#findBtn {
	background-color: gray;
	color: white;
	font-weight: 900;
	border: none;
	padding: 5px;
}

.errmsg {
	color: red;
	font-size: 0.9rem;
	font-weight: bold;
}