@charset "UTF-8";

* {
	box-sizing: border-box;
}

.mycontainer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.login-wrapper {
	width: 300px;
}

.login-content {
	align-items: center;
}

.login-content>div {
	margin: 10px 0;
}

.login-content input {
	width: 100%;
	font-weight: 900;
}

.login-title {
	text-align: center;
}

#outBtn {
	border-radius: 5px; text-decoration : none;
	color: gray;
	text-decoration: none;
}

#outBtn:hover {
	color: red;
}